// Color scheme

$header-background: #50584D
$nav-background: #222

$intro-background: #BBCEB6
$body-background: #F3F8F2
$footer-background: #504F48

$side-title-background: #DBEAD7
$side-content-background: #FFF

$title-color: #5A745D

$header-link-color: #D3CFB9
$link-color: #5A95F0
$link-background: #FFFEF9

// Actual style rules

*
  margin: 0
  padding: 0
  font-family: Lato, sans-serif
  box-sizing: border-box

body
  background: $body-background
  
  .header, .article, .intro, .footer
    width: 100%

  .header-content, article, .intro-content, .footer-content
    max-width: 940px
    padding-left: 0
    padding-right: 0
    margin-left: auto
    margin-right: auto

a
  background-color: $link-background
  padding: 3px
  border-radius: 6px
  text-decoration: none

  &:link, &:visited
    color: $link-color
  &:hover
    color: lighten($link-color, 10)

header
  background: $header-background

  .header-content
    background: $nav-background
    
    ol
      list-style-type: none

      li
        display: inline-block
        border-right: 1px solid #575050

        padding-left: 11px
        padding-right: 15px
        padding-top: 9px
        padding-bottom: 11px
        font-size: 15px

        &.home
          padding: 3px 10px
          padding-top: 5px

          img
            vertical-align: middle
            display: inline-block
            margin-top: -2px

        a
          padding: 0
          display: block
          background-color: transparent

          color: $header-link-color

          &:hover
            color: lighten($header-link-color, 15)

.intro
  background-color: $intro-background

  .intro-content
    $intro-padding: 36px
    padding-top: $intro-padding
    padding-bottom: $intro-padding

    h1
      font-weight: 300
      color: $title-color
      font-size: 38px

.article
  article
    nav.side
      width: 31.91489%
      float: right
      margin-right: 0
      display: inline
      position: relative
      top: -60px

      .side-title
        box-sizing: border-box
        background: $side-title-background
        height: 60px
        vertical-align: middle
        padding-left: 20px
        padding-top: 17px

        font-weight: 300
        font-size: 20px
        color: $title-color

      .side-content
        background: $side-content-background
        padding: 20px

        ol
          li
            color: lighten(black, 20)
            margin-left: 20px
            line-height: 22px

    .article-content
      width: 65.95745%
      padding-top: 40px
      color: #252525

      h1
        font-weight: normal
        font-size: 40px
        line-height: 40px
        letter-spacing: -1px
      h2
        font-weight: 300
        font-size: 21px
        color: $title-color
      *+h2
        margin-top: 40px
      abbr
        border-bottom: dotted 1px black
      p
        margin: 20px 0
        font-size: 15px
        line-height: 22px
      ul, ol
        margin: 20px
      li
        font-size: 15px
        line-height: 20px
      ul li
        list-style-type: square
      pre
        border: 1px solid #C5C0A4
        background-color: #F8F8F8
        padding: 8px

        code, kbd, span
          font-family: Consolas,Inconsolata,Monaco,monospace
          font-size: 13px

        kbd
          font-weight: bold

footer
  padding: 40px 0 80px 0
  margin: 60px 0 -40px 0
  
  background-color: $footer-background
  color: #E2E0D5

  .footer-content
    .fine-print
      font-size: 14px
      width: 67%
      line-height: 22px

      a
        background-color: #3F3F3E
        color: inherit
        padding: 2px 4px
