<footer>
  <div class="footer-content">
  <nav><section class="about"><h3>About</h3>
    <ul>
        <li><a href="/about/#history">History</a></li>
        <li><a href="/about/#why-use-ooc">Why use ooc?</a></li>
        <li><a href="/about/#similar-projects">Alternatives</a></li>
    </ul></section><section class="install"><h3>Install</h3>
    <ul>
        <li><a href="/install/#quick-install">Quick install</a></li>
        <li><a href="/install/#installing-from-git">Installing from Git</a></li>
        <li><a href="/install/#post-install-instructions">Post-install instructions</a></li>
        <li><a href="/install/#installing-sam">Installing sam</a></li>
    </ul></section><section class="documentation"><h3>Documentation</h3>
    <ul>
        <li><a href="/docs/tutorial/">Tutorial</a></li>
        <li><a href="/docs/lang/">Language</a></li>
        <li><a href="/docs/sdk/">SDK</a></li>
        <li><a href="/docs/tools/">Tools</a></li>
        <li><a href="/docs/tools/rock/">Implementation</a></li>
        <li><a href="/docs/kaputt/">Troubleshooting</a></li>
        <li><a href="/docs/glossary/">Glossary</a></li>
    </ul></section><section class="community"><h3>Community</h3>
    <ul>
        <li><a href="http://groups.google.com/group/ooc-lang">Discussion group</a></li>
        <li><a href="http://github.com/fasterthanlime/rock/issues">Issue tracker</a></li>
        <li><a href="irc://chat.freenode.net/#ooc-lang">IRC channel</a></li>
        <li><a href="http://github.com/fasterthanlime/rock/wiki">Wiki</a></li>
        <li><a href="/development/">Development</a></li>
        <li><a href="http://pledgie.com/campaigns/21363">Donate</a></li>
    </ul></section></nav>
    <div class="fine-print">
      <p>
        ooc &copy; 2009-2015 <a href="http://amos.me/">Amos Wenger</a>. The content of this website is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0 License</a>.
        rock is licensed under the MIT license. Design based on the <a href="http://nanoc.ws/">nanoc web site</a> by <a href="http://stoneship.org/">Denis Defreyne</a> and used with permission.
        <a href="http://entypo.com/">Entypo</a>By Daniel Bruce.
      </p>
    </div>
  </div>
</footer>
