<header>
  <div class="header-content">
    <nav class="main">
      <ol>
        <li><a class="item" href="/">ooc</a></li>
        <li><a class="item" href="/about">About</a></li>
        <li><a class="item" href="/install">Install</a></li>
        <li><a class="item" href="/docs">Documentation</a></li>
        <li><a class="item" href="/community">Community</a></li>
        <li><a class="item" href="/development">Development</a></li>
      </ol>
    </nav>
  </div>
</header>
<div class="intro">
  <div class="intro-content">
    <h1><%= @item[:title] %></h1>
  </div>
</div>